<ion-header>
  <ion-navbar>
    <ion-title>newProduct</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="authForm" (ngSubmit)="saveProducts(authForm.value)">
    <ion-list>
      <ion-item [ngClass]="{'error-border':!authForm.controls.name.valid && authForm.controls.name.touched}">
        <ion-label stacked> Name: </ion-label>
        <ion-input formControlName="name" type="text" placeholder="name" [(ngModel)]="name" name="name"></ion-input>
      </ion-item>
      <ion-item *ngIf="authForm.controls.name.hasError('required') && authForm.controls.name.touched">
        <p>El nombre es requerido</p>
      </ion-item>
      <ion-item *ngIf="authForm.controls.name.hasError('pattern') && authForm.controls.name.touched">
        <p>No se permiten caracteres especiales</p>
      </ion-item>

      <ion-item [ngClass]="{'error-border':!authForm.controls.categoryId.valid && authForm.controls.categoryId.touched}">
        <ion-label>Category </ion-label>
        <ion-select formControlName="categoryId" [(ngModel)]="categoryId" name="categoryId">
          <ion-option *ngFor="let item of categorys" [value]="item._id">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="authForm.controls.categoryId.hasError('required') && authForm.controls.categoryId.touched">
        <p>La categoria es requerida</p>
      </ion-item>
    </ion-list>
    <div padding>
      <button ion-button block type="submit" [disabled]="!authForm.valid"> Guardar </button>
    </div>
  </form>
</ion-content>
